
<div class="jumbotron mt-4">

       <div class="card-body">
            <h1 >About</h1>
        <hr class="my-4">
       </div>
    <div class="card-header">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non culpa ut quidem ipsam est, minima totam doloribus veritatis, porro minus quod iusto vel voluptatibus praesentium deleniti unde saepe. Tempore numquam eaque quis accusamus enim eum facilis ab laboriosam officia ex!</p>

</div>
</div>