<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App NodeJS and Mongodb </h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint cupiditate saepe facere reiciendis provident voluptatem ipsa id aliquid, inventore fugiat corrupti. Consequuntur reprehenderit obcaecati facere vel architecto sapiente nihil rem.</p>
    <a href="http://www.google.com" class="btn btn-primary " target="_blank">Google</a>
</div>